body{
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header>h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
main{
    margin-left: 6%;
    margin-right: 6%;
}
.negeri{
    text-align: center;
    background-color: rgb(247, 189, 123);
    width: max-content;
    padding: 2.5%;
    border-radius: 20px;
    margin: auto;
}

.select-negeri{
    text-align: center;
    background-color: rgb(245, 220, 192);
    width: 200px;
    padding: 3%;
    border-radius: 20px;
    
}
.nisab-title{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.nisab{
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
}
ul{
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

button{
    width: fit-content;
    text-wrap: wrap;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 2px ;
    border:none;
    background-color: rgb(245, 220, 192);
    cursor: pointer;
}
button:hover{
    background-color: antiquewhite;
}

fieldset{
    background-color:rgb(247, 189, 123);
    border:none;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;;
    
}
h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.desc{
    text-align: center;
}
h4>span{
    font-size: smaller;
}
h4>select{
    border-radius: 20px;
    padding: 3px;
    display: flex;
    text-wrap: wrap;
    text-align: center;
    text-overflow: wrap;
}
#zakat-kwsp-ds>.input-sec>h4>select{
    width: 100%;
}
.input-sec, .output-sec{
    margin-left: 15%;
    margin-right: 15%;
}
input[type=number]{
    border-radius: 50px;
    border: none;  
    text-align: center;  
}
.card{
    margin-bottom: 15px;
}
#zakat-pendapatan-ds{
    display: none;
}
#zakat-saham-ds{
    display: none;
}

#zakat-emas-ds{
    display: none;
}

#zakat-perak-ds{
    display: none;
}
#zakat-kwsp-ds{
    display: none;
}
#kwsp-exclude{
    color: greenyellow;
    background-color: black;
    display:none ;
}
#zakat-simpanan-ds{
    display: none;
}
#zakat-ternakan-ds{
    display: none;
}
#zakat-perniagaan-ds{
    display: none;
}

footer{
    text-align: center;
    background-color: rgb(247, 189, 123);
    border-radius: 20px;
    padding: 8px;
}